.notFoundContainer {
    margin-top: 50px;
    padding-bottom: 50px;
}

.heading1 {
    font-size: 6rem;
}

.heading2 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #343a40;
}

.lead {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 1.2rem;
}